<div class="js-modal-panel mdl s-tall-fixed is-inverted-dark">
    <header class="js-mdl-header mdl-header">
        <h3 class="mdl-header-title js-header-title">
            {{title}}
        </h3>
        <a href="javascript:void(0);" class="mdl-drag-handle js-drag-handle"><i class="sprite sprite-drag"></i></a>
        <a href="javascript:void(0);" data-action="close" class="mdl-dismiss js-dismiss link-normal-dark"><i class="icon icon-close"></i></a>
    </header>
    <div class="mdl-inner">
    	<div class="mdl-content js-mdl-content">{{> content}}</div>
    	<footer class="mdl-buttonbar"></footer>
    </div>
</div>