<article class="stream-item js-stream-item js-show-detail" data-reply-id="{{id}}">
	<div class="item-box js-stream-item-content">
		<div class="js-tweet tweet">
			<header class="tweet-header">
				<time class="tweet-timestamp js-timestamp pull-right txt-mute" datetime="{{created_at}}">
					<a class="txt-small" href="javascript:void(0);" rel="url"
					   target="_blank">{{prettyCreatedTime}}</a>
				</time>
				<a class="account-link link-complex block" href="http://twitter.com/{{user.profile_url}}" rel="user" target="_blank">
					<div class="obj-left item-img tweet-img">
						<img class="tweet-avatar avatar pull-right" src="{{user.profile_image_url}}" width="48" height="48"
						     alt="{{user.name}}'s avatar">
					</div>
					<div class="nbfc"><span class="account-inline txt-ellipsis ">
						<b class="fullname link-complex-target">{{user.screen_name}}</b>
						<span class="username txt-mute"><span class="at">@</span>AtomHiHat</span>  </span>
					</div>
				</a></header>
			<div class="tweet-body"><p class="tweet-text">{{text}}</p>
				<footer class="tweet-footer cf">
					<ul class="tweet-actions ">
						<li><a class="tweet-action" href="#" rel="reply"> <i class="icon icon-reply"></i>
							<span class="is-vishidden">Reply</span> </a></li>
					</ul>
				</footer>
			</div>
			<i class="sprite tweet-dogear"></i></div>
	</div>
</article>